.polls {
  text-align: left;
  margin-top: 10px;
  flex-wrap: wrap;
}
.homecontainer {
  margin: 40px;
}

.title {
  text-align: center;
  margin: 10px;
  padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionTitle {

      background-color: rgba(93,93,93,.06);
      padding: 20px;
}
