.cardContainer {

  min-height: 190px;
  margin: 20px;
  padding: 10px;
      background-color: #f4f5f7 !important;
}
.header {
  display: flex;
    justify-content: space-between;
    align-items: center;
}

.filters {
  display: flex;
  margin: 10px 10px 40px;
}

.chip {
  margin-left: 10px;
}

.year {
  display: flex;
justify-content: flex-end;
height: 0px;
}

.contentContainer {
  height:100vh;
  overflow: auto;
      padding: 10px 30px;
}

.socialIcon {
  margin: 2px;
  fill: #34a56f;
}
