
.contentContainer {
  height:100%;
  overflow: auto;
      padding: 10px 30px;
}

.info {
  position: relative;
    top: 20px;
    min-width: 40px !important;
    padding: 0 !important;
    display: flex;
    align-self: flex-start;
}
.btnandcardGrid {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  max-width: 470px;
  width: 100%;
    margin: 0px 10px;
}
.contentLoader {
  margin: 40px;
}

.btnandcardList {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 100%;
    margin: 0px 10px;
  max-width: 1000px;
}

.cardsContainerGrid {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.cardsContainerGrid > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

.cardsContainerList {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}
