.cardContainer {
width: 100%;
  padding: 10px;
  background-color: #f4f5f7 !important;
  align-items: flex-end;
}
.header {
  display: flex;
  flex-direction: column;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: rgba(93,93,93,.06);
  padding: 10px;
  flex-wrap: wrap;
}

.logoGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgba(93,93,93,.06);
  padding: 10px;
  flex-wrap: wrap;
}
.social {
  align-items: left;
  display: flex;
  flex-wrap: wrap;
}
.content {
  flex-wrap: wrap;
  min-height: 52px;
  height: auto;
  align-items: center;
  display: flex;
  background-color: rgba(93,93,93,.06);
}
.line {
  border: 1px solid rgba(0,0,0,.1);
}
.title {
  display: flex;
  flex-direction: column;
}
.icon {
      box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
  background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 76px;
height: 76px;
//border: 1px solid rgba(0,0,0,0.64);
//border-radius: 50%;
margin-right: 20px;
margin-bottom: 5px;
}
.iconGrid {
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  max-width: 150px;
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
}
.icon:hover {
    transform:scale(3);
    position:relative;
    top:-25px;
    left:70px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0) !important;
    z-index: 99;
}

.footer {
  display: flex;
justify-content: space-between;
align-items: center;
margin-top: 10px;
flex-wrap: wrap;
}
.tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.tag {
  height: 24px !important;
  margin-left: 10px;
}

.socialIcon {
  margin: 2px;
  fill: #34a56f;
}
.socialIcon > svg {
  width: 28px;
}
