.cardContainer {
width: 100%;
  padding: 10px;
      background-color: #f4f5f7 !important;

}
.header {
  display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
}

.year {
  display: flex;
justify-content: flex-end;
}

.socialIcon {
  margin: 2px;
  fill: #34a56f;
}
.socialIcon > svg {
  width: 28px;
}
