
.filtersContainer {
  display: flex;
  justify-content: space-between;
align-items: center;
}

.form {
  margin: 0px 20px !important;
}
.noDrawer {
  display: none;
}
.mainFilters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.filtersToolbar {
  display: flex;
justify-content: space-between;
flex-wrap: wrap;
width: 100%;
align-items: center;
}
.chip {
  margin: 5px;
}

.chip:hover {
  background-color: #eaeaea !important;
}
.multiselect {
  max-width: 240px;
  width: 100%;
  margin: 10px 5px 5px;
}

.subfilters {
  //align-items: flex-end;
  min-height: 84px;
  width: 100%;
  display: flex;
//  justify-content: center;
  flex-wrap: wrap;
}
.tools {
  position: fixed;
  bottom: 20px;
  right: 0;
}
.drawerHandle {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10000;
}
.searchBar {
  height: 36px !important;
  padding: 5px 0px 5px 10px !important;
  border: 1px solid #d0d0d0 !important;
  align-items: center !important;
  flex-direction: row !important;
}
.searchInput {
  display: flex !important;
align-items: center !important;
}
.searchInput > input {
padding: 0;
}
.searchInput > div {
  display: flex;
}

.drawerBox > div {
  overflow: visible;
  background-color: #b8dff1;
  padding-bottom: 20px;
  padding-left: 110px;
}
@media (max-width: 500px) {
.viewButton {
  display: none !important;
}
}
.drawerInner {
  flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.drawerHeader {
  height: 30px;
}
@media (max-width: 640px) {
  .filtersToolbar {
  justify-content: center;
  align-items: center;
  }
}
