
.info {
  position: relative;
    top: 20px;
    min-width: 40px !important;
    padding: 0 !important;
    display: flex;
    align-self: flex-start;
}
.btnandcardGrid {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  max-width: 375px;
  width: 100%;
    margin: 0px 10px;
}

.btnandcardList {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 100%;
    margin: 0px 10px;
  max-width: 1000px;
}

.cardContainer {
width: 100%;
  padding: 10px;
  background-color: #f4f5f7 !important;
  align-items: flex-end;
}
.header {
  display: flex;
  flex-direction: column;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: rgba(93,93,93,.06);
  padding: 10px;
  flex-wrap: wrap;
}
.itemButton {
  text-align: left;
}
.dot {
  height: 5px;
  width: 5px;
  background-color: #777;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 2px
}
.cardsContainer {

}
.logoGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgba(93,93,93,.06);
  padding: 10px;
  flex-wrap: wrap;
}
.otherInfo {
  display: flex;
  margin-top: 2px;
}
.socialGrid {
  align-items: left;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.socialList {
  align-items: left;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.contentGrid {
  flex-wrap: wrap;
  min-height: 24px;
  height: auto;
  align-items: center;
    justify-content: center;
  display: flex;
  background-color: rgba(93,93,93,.06);
}
.contentList {
  flex-wrap: wrap;
  min-height: 24px;
  height: auto;
  align-items: center;
  display: flex;
  background-color: rgba(93,93,93,.06);
}
.line {
  border: 1px solid rgba(0,0,0,.1);
  height: 30px;
  margin: 5px 0px;
}
.title {
  display: flex;
  flex-direction: column;
}
.icon {
  //    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
  background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
//    background-color: rgba(255,255,255,0.67);
    width: 160px;
height: 76px;
background-position: 4%;
//border: 1px solid rgba(0,0,0,0.64);
//border-radius: 50%;
margin-right: 20px;
margin-bottom: 5px;
}
.iconGrid {
//  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
//  max-width: 150px;
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
}
// .icon:hover {
//     transform:scale(3);
//     position:relative;
//     top:-25px;
//     left:70px;
//     box-shadow: 0 0px 0px rgba(0, 0, 0, 0) !important;
//     z-index: 99;
// }

.footer {
  display: flex;
justify-content: space-between;
align-items: center;
margin-top: 5px;
flex-wrap: wrap;
}
.tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
//  justify-content: center;
}

.tag {
  height: 24px !important;
  margin-left: 10px;
  margin-top: 5px;
}
