.socialIcon {
  margin: 2px;
  fill: #34a56f;
}
.socialIcon > svg {
  width: 28px;
}

.primary {
  color: #3f51b5 !important;
}

.accent {
  color: #ff4081 !important;
}

.default {
  color: rgba(0, 0, 0, 0.87) !important;
}
