.socialIcon {
  margin: 2px;
  fill: #34a56f;
}
.socialIcon > svg {
  width: 28px;
}

.dbIcon > svg {
  width: 40px;
  fill: white;
}
.dbIconSmall > svg {
  width: 24px;
  fill: rgba(0,0,0,0.84);
}
.menuIcon > svg {
  width: 36px;
  fill: white;
}
.menuIconSmall > svg {
  width: 24px;
  fill: rgba(0,0,0,0.84);
}
.primary {
  color: #3f51b5 !important;
}

.accent {
  color: #ff4081 !important;
}

.default {
  color: rgba(0, 0, 0, 0.87) !important;
}
