.page-layout__viewport {
  margin-top: 100px;
}

.page-layout__nav-item--active {
  font-weight: bold;
  text-decoration: none !important;
}

.appbar {
  align-items: center;
  background-color: #0091EA !important;
}
.navbar {
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}
.menuLabel {
   color: white !important;
   font-weight: 700 !important;
   font-size: 12px !important;
   padding: 0 !important;
 }
.menuItem {
  width: 100% !important;
  height: 100% !important;
}
.menuItem > span {
  flex-direction: column;
}

.stats {
display: flex;
justify-content: center;
font-weight: 800;
margin: 5px 0px;
}
.stat {
  width: 100px;
}
