.page-layout__viewport {
  margin-top: 100px;
}

.page-layout__nav-item--active {
  font-weight: bold;
  text-decoration: underline;
}

.appbar {
  display: flex;
  align-items: center;
}
.navbar {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.menuItem {
  width: 100% !important;
  height: 100% !important;
}

.stats {
display: flex;
justify-content: center;
font-weight: 800;
margin-right: 50px;
}
.stat {
  width: 100px;
}
