.page-layout__viewport {
  margin-top: 60px;
}

@media (max-width: 620px) {
.page-layout__viewport {
  margin-top: 50px;
}
}

.logoArea {
  background-image: url('/logo.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 173px;
  height: 55px;
  margin: 0px 10px;
}
.appbar {
  align-items: center;
  background-color: #0091EA !important;
}

@media (max-width: 620px) {
.navbar {
    display: none !important;
}
}

.menuBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menuLabel {
  color: white !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  padding: 0 !important;
}
.menuItem {
  height: 36px !important;
}

.menuItem > span {
  flex-direction: column;
}
