.calendar {
  height: 500px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.eventDetails {
  padding: 10px;
background-color: aliceblue;
border: 1px solid;
}

.rbc-toolbar {
  flex-wrap: wrap;
}
