.newsWidth {
  width: 50%;
    margin: 0px 20px;
      display: flex;
      flex-direction: column;
}
@media (max-width: 960px) {
  .newsWidth {
    width: 100%;
  }
}
.updatesList {
  width: 100%;
position: relative;
overflow: auto;
max-height: 390px;
text-align: left;
height: 100%;
}
.updatesList > ul > li {
  align-items: flex-start;
}
