.polls {
  text-align: left;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.sectionTitle {
margin: 20px 0px;
      background-color: rgba(93,93,93,.06);
      padding: 20px;
}
