.polls {
  text-align: left;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.sectionTitle {
margin: 20px 0px;
      background-color: #f3f3f3;
      padding: 20px;
}
