
.filtersContainer {
  display: flex;
  justify-content: space-between;
align-items: center;
}

.form {
  margin: 0px 20px !important;
}
.noDrawer {
  display: none;
}
.mainFilters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.filtersToolbar {
  display: flex;
justify-content: space-between;
flex-wrap: wrap;
width: 100%;
align-items: center;
}
.chip {
  margin: 5px;
}
.chip:hover {
  background-color: #eaeaea !important;
}

.subfilters {
  //align-items: flex-end;
  min-height: 84px;
  display: flex;
//  justify-content: center;
  flex-wrap: wrap;
}
.tools {

}
.drawerHandle {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10000;
}

.drawerBox > div {
  overflow: hidden;
  background-color: #E1F5FE;
      padding-bottom: 20px;
      padding-left: 110px;
}

.drawerInner {
  flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.drawerHeader {
  height: 30px;
}
@media (max-width: 640px) {
  .filtersToolbar {
  justify-content: center;
  align-items: center;
  }
}
