.description {
  text-align: left;
  margin: auto !important;
  margin-top: 20px !important;
}
.title {
  text-align: center;
}

.contact {
  margin: 0px 30px 30px;
  padding: 52px 20px;
background-color: #efefef;
/* width: 100%; */
clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0, 76% 6%, 48% 0, 24% 5%);
}
.donation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 30px 30px;
  padding: 52px 20px;
  clip-path: polygon(0 88%, 0 0, 100% 0, 100% 91%, 74% 100%, 52% 91%, 28% 100%);
    background-color: #f3f3f3;
}
.textContent {
  margin-bottom: 20px;
}
.newsletter {
  display: flex;
}
.credits {
  margin-bottom: 50px;
}
.creditsList {
  margin: 15px 0px;
}

.popupStatusForm {
  position: absolute;
  flex-direction: column;
display: flex;
justify-content: center;
align-items: center;
    height: 357px;
    width: 560px;
z-index: 9;
opacity: 0.8;
}
.popupStatusNews {
  position: absolute;
  flex-direction: row;
display: flex;
justify-content: center;
align-items: center;
height: 75px;
    width: 491px;
z-index: 9;
opacity: 0.8;
}
