.infoContainer {
  display: flex;
  align-items: center;
  padding: 30px;
  flex-direction: column;
  font-size: 22px;
  width: 100%;
  max-width: 600px;
}

.infoForm {
  margin-top: 20px;
  display: flex;
  align-items: left;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}
.formLabel {
  font-size: 18px !important;
}
.multiline > div {
  margin-top: 20px !important;
  background-color: #f7f7f7;
}

.popupStatus {
  position: absolute;
  flex-direction: column;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
z-index: 9;
opacity: 0.8;
height: 100%;
top: 0;
left: 0;
}
