.description {
  text-align: left;
  margin: auto !important;
  margin-top: 20px !important;
}
.title {
  text-align: center;
}
.container {
  margin: 0 auto;
  max-width: 650px;
  text-align: left;
}

.newsletter {
  margin: 30px;
}
.contact {
  margin: 30px;
}
